<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Template ejemplo2</h1>
    <p>Hello Flask</p>
        {% if True  %}
        <p>Esto es vedadero</p>
        {% endif %}

        <ul>
            {% for i in [1,2,3,4,5,6,7,8,9,10] %}
            <li>
                {% if loop.first %}
                Primero -
                {%endif%}
                {{ loop.index}}-{{i}}
            </li>
            {%endfor%}
        </ul>
        <h3>Filtros</h3>
        <p>{{ task | default('No hay tareas')}}</p>

        <p>{{'<h1>Hola Mundo</h1>' | escape }}</p>

        <p>{{5.1245 | int }}</p>
        <p>{{5 | float }}</p>
        <p>{{[1,2,3,4,5,6] | min }}</p>
        <p>{{[1,2,3,4,5,6] | max }}</p>
        <p>{{6.141| round }}</p>
        <p>{{6.5| round }}</p>
        <p>{{6.51| round }}</p>
        <p>{{6.51441| round(2) }}</p>
        <p>{{6.5199| round(2) }}</p>
        <p>{{"Hello Flask"| replace("Hello","hi") }}</p>
        <p>{{["Hello","Flask","world",5]| join("_") }}</p>
        <p>{{"Hello Flask"| lower }}</p>
        <p>{{"Hello Flask"| upper }}</p>


        <h3>Variables</h3>
        {% set var1 = 'Flask' %}
        {% set var2 = var1 %}

        {{var1}}
        {{var2}}

    <h3>Raw</h3>
    {% raw%}
        var1
        {{var1}}
        <h3>Hola Flask raw</h3>
    {% endraw%}

    <h3>macro </h3>
    {%macro suma(v1,v2) %}
        <p>{{v1}} +{{v2}} = {{v1+v2}}</p>
    {%endmacro%}

    {{suma(4,3)}}

    <p>{{ otra }}</p>
    
</body>
</html>